@import url(https://fonts.googleapis.com/css?family=Tangerine);
/* body {
  margin: 0;
  background: #eee;
  font-family: Courier, monospace;
  font-size: 14px;
} */

canvas {
  display: block;
  margin: 0 auto;
  margin: calc(50vh - 250px) auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 3px #ccc;
}